body{
    margin:0;
    padding:0;
    font-size:100%;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    position: relative;
    width:100%;
    min-height:55vw;
    overflow: hidden;
}

.layer{
    position: absolute;
    width:100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .content-wrap{
    position: absolute;
    width:100vw;
    min-height: 55vw;
}

.layer .content-body{
    width:25%;
    position:absolute;
    top:50%;
    text-align: center;
    transform:translateY(-50%);
    color:#fff;
}

.layer img{
    position: absolute;
    width:50%;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.layer h1{
    font-size:2em;
}

.bottom{
    background:#c0d7e7;
    z-index:1;
}

.bottom .content-body{
    right:5%;
}

.bottom h1{
    color:#FDAB00;
}

.top{
    background:#fee644;
    color:#222;
    z-index:2;
    width:50vw;
}

.top .content-body{
    left: 5%;
    color:#222;
}

.handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: #FDAB00;
    width:5px;
    top:0;
    left: 50%;
    z-index:3;
}

.skewed .handle{
    top:50%;
    transform:rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin:top;
    filter: blur(5px);
}

.skewed .top{
    transform: skew(-30deg);
    margin-left:-1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content-wrap{
    transform: skew(30deg);
    margin-left:1000px;
}

@media(max-width:768px){
    body{
        font-size:75%;
    }
}
.header {
    width: 100%;
    position: fixed;
    background: rgba(48, 142, 125, 0.5);
    z-index: 3;
}
.header-under {
    height: 45px;
    width: 100%;
    background: transparent;
}
.footer {
    width: 100%;
    height: 100px;
    background: #000;
}
.section-models {
    padding: 50px 0 0;
    /*background: #eaeaea;*/
}
.section-models__view {
    width: 250px;
    height: 250px;
    margin-top: 250px;
    margin: 0 auto;
    border-radius: 50%;
    background: url(./backpack-background.png);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: 57%;
    -webkit-box-shadow: inset 0px 10px 37px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 10px 37px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 10px 37px 0px rgba(0,0,0,0.75);
}
.section__title {
    margin-top: 0;
    font-size: 50px;
    color: rgba(48, 142, 125, 1);
    text-align: center;
}
/*//navigaiton*/

.main-navigation {
    padding: 10px 0;
    color: #fff;
}
.main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
}
.main-navigation__item {
    list-style: none;
    /*display: inline-block;*/
    /*justify-content: space-between;*/
}
.main-navigation__link {
    text-decoration: none;
    color: inherit;
}
.section-views {
    padding: 50px 0;
}
.views-wrapper {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid #eaeaea;
}
.views__views {
    text-align: center;
}
.views__image {
    display: none;
}
.views__image_normal {
    display: block;
}
.views__buttons li {
    list-style: none;
    display: inline-block;
}
.views__button {
    color: #222222;
    margin-left: 10px;
    cursor: pointer;
}
.views__button_active {
    opacity: 0.4;
}